html,body,p,h1,h2,h3,h4,ul,li,fieldset {
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  background: #fff;
}
body,h1,h2,h3,h4,dfn {
  font: 13px/16px Arial, sans-serif;
}
fieldset,img {
  border: 0;
}
