@import "nib/vendor"

/* Reset */

html,body,p,h1,ul,li,input,button {
  margin: 0;
  padding: 0;
}
body {
  color: #000;
  background: #fff;
}
body,h1 {
  font: 13px/1.231 Arial, sans-serif;
}
a {
  color: #01c;
}


/* Forms */

text-back = #fff
back = #fff
lum = 100 / lightness(back)
highlight = rgba(lighten(back, 25%),.6 / lum)
sel-light = #e5f4fb
sel = #a8d5fb
sel-border = darken(sel, 25%)

[type="checkbox"]+i,[type="radio"]+i,input,button {
  box-sizing: border-box;
  font-family: "Lucida Grande";
  font-size: inherit;
  background: transparent;
  border: 1px solid;
  border-color: rgba(#000,lum * .35) rgba(#000,lum * .25) rgba(#000,lum * .25)
  box-shadow: inset 0 2px 0 -1px darken(text-back, 5%), 0 1px rgba(#fff,.3), inset 0 999px text-back;
  padding: 1px 4px 2px;
  border-radius: 3px;
  outline: none;
}
[type="checkbox"]+i,[type="radio"]+i,[type="submit"],button {
  padding-left: 12px;
  padding-right: 12px;
  border-color: rgba(#000,lum * .25) rgba(#000,lum * .35) rgba(#000,lum * .45);
  box-shadow: inset 0 0 0 1px highlight, inset 0 -1.7em 1em -1em darken(back, 10%), 0 1px rgba(#000,lum * .1), inset 0 999px back;
}
[type="checkbox"]:active+i,[type="radio"]:active+i,[type="submit"]:active,button:active {
  box-shadow: inset 0 1px rgba(darken(back, 20%),.3), inset 0 -1px rgba(highlight,.3 / lum), inset 0 -1.7em 1em -1em darken(back, 10%), 0 1px rgba(#000,lum * .1), inset 0 999px darken(back, 12%);
}
input:focus{
  border-color: sel-border lighten(sel-border, 30%) lighten(sel-border, 30%);
  box-shadow: inset 0 2px 0 -1px #ebf2f5, inset 0 999px text-back;
}
[type="checkbox"]:focus+i,[type="radio"]:focus+i,[type="submit"]:focus,button:focus {
  border-color: lighten(sel-border, 30%) sel-border darken(sel-border, 30%);
  box-shadow: inset 0 0 0 1px rgba(#fff,.5), inset 0 -.75em .4em sel, 0 1px rgba(sel,.4), inset 0 999px sel-light;
}
[type="checkbox"],[type="radio"] {
  position: absolute;
  opacity: 0;
}
[type="checkbox"]+i,[type="radio"]+i {
  display: inline-block;
  position: relative;
  padding: 0;
  vertical-align: -1px;
  font-size: 7px;
  width: 12px;
  height: 12px;
  margin-right: 2px;
  left: 1px;
}
[type="radio"]+i {
  vertical-align: -2px;
  font-size: 8px;
  width: 14px;
  height: 14px;
  margin: 0;
  left: 0;
  border-radius: 12px;
}
[type="checkbox"]+i:after,[type="radio"]+i:after {
  width: 11px;
  height: 11px;
  display: block;
  position: absolute;
  top: -3px;
  left: 1px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAQAAAADpb+tAAAAcklEQVQIHWXBIQoCQQAAwAkWDR74D4PNqOAbBLkP+AD7VTFabYLFL2i6J1y2mAzbFmSrIHKw6wylytnJn0bSKswkyVxmqJUcFHaSzlhmKkoWvjaeagzcvO39rEXR0lbUqfQawcNLsJK5CIKjwsjV3UTvA0hhHjtECitsAAAAAElFTkSuQmCC") no-repeat;
}
[type="radio"]+i:after {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  top: 4px;
  left: 4px;
  background: #000;
  box-shadow: 0 1px highlight;
}
:checked+i:after {
  content: "";
}
::-moz-focus-inner {
  border: 0;
}

